.slides{
    height:80vh;
    width:100vw;
    top: 100px;
    position: absolute;
    z-index: 1;
    filter:blur(5px) brightness(80%);
    background-color: #40e2ff;
    background-position: center;
    background-size: cover;
  }
  .image_divider{
    position: static;
    height: 100vh;
    width: 100vw;
  }

  .search{
    font-family: 'Roboto', sans-serif;
    z-index: 2;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(159, 157, 157);
    border: none;
    width:40vw;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
  
  
  .landing{
    display: flex;
    overflow-x: hidden;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    position: absolute;
      top: 60%;  /* position the top  edge of the element at the middle of the parent */
      left: 50%; /* position the left edge of the element at the middle of the parent */
      transform: translate(-50%, -60%);
  }
  
  .heading{
    position: absolute;
    z-index: 2;
    text-align: center;
    top:150px;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color:white;
  }
  
  .button_container{
    flex-direction: row;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main_container{
    display: flex;
    flex-direction: column;
    z-index: 2;
    justify-content: center;
    align-items: center;
  }

  .Heading {
    text-align: center;
    z-index: 2;
    width: 70%;
    -webkit-filter: drop-shadow(5px 1px 6px rgb(220, 223, 230));
            filter: drop-shadow(5px 1px 6px rgb(220, 223, 230));
  }
  .Heading h1 {
    font-weight: bold;
    z-index: 2;
    font-style: italic;
    font-size: 48px;
    color: rgb(15, 71, 162);
    margin-right: 15px;
    letter-spacing: 3;
  }
  
  .main_body{
    z-index: 2;
    width:100vw
  }

.explanation_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.explanation{
  width: 70%;
  display: flex;
  margin-right: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.explanation p{
    font-size: 28px;
    text-align: center;
    color:rgb(36, 56, 87);
    -webkit-filter: drop-shadow(5px 1px 6px rgb(220, 223, 230));
            filter: drop-shadow(5px 1px 6px rgb(220, 223, 230));
    font-weight: bold;
    width: 70%;
    z-index: 2;
}

.explanation i{
    background-color: rgb(15, 71, 162);
    border-radius: 5px;
    height: 50;
    padding: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    z-index: 2;
}